

/* mixin to write

border-mixin
type-mixin
size-mixin
hover transistions
*/


/*  Button names 

.it-btn 
.it-btn--primary
.it-btn--subscribe 
.it-btn--disabled 
.it-btn--outline
.it-btn--generic
.it-btn--double-line

.it-btn--small 
.it-btn--big

.it-btn--link

*/


.it-btn {
    display: inline-block;
    padding: 0.72em 3.7em;
    border-radius: 0.25em;
    box-sizing: border-box;
    font-family: "DINWeb-Bold",Arial,sans-serif;
    font-size: 1em;
    border: 1px solid;
    line-height: 1em;
    font-weight: 800;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out 0s;
  &:hover{
    background: currentColor;
  }
  
  &.it-btn--subscribe{
    background-color: $subscribe-yellow;
    border-color: $subscribe-border;
    color: $grey-darkest;
    &:hover{
       background-color:$subscribe-hover;
    } 
    &:active {
      background: darken($subscribe-border, 20%);
    }
  }
  // disabled states
  &.it-btn--disabled {
    pointer-events: none;
    opacity: .4;
  }
  
  &.it-btn--primary{
    background-color: $primary-blue;
    border-color: $primary-border;
    color: #FFF;    
    &:hover {
       background-color:$primary-hover;
    }
    &:active {
      background: darken($primary-border, 20%);
    }
  }   
}


.it-btn--outline {
  background: transparent;
  border-color: $grey-darker;
  color: $grey-darker;
  &:hover {
    background: $grey-darker;
    color: #ffffff;
  }
  &:active {
      background: darken($grey-darker, 20%);
  }
}

.it-btn--generic {
  background: $grey-darkest;
  color: #ffffff;
  border: 1px solid darken($grey-darkest, 50%);
  &:hover {
    background: darken($grey-darkest, 20%);
  }
}


.it-btn--double-line {
    line-height: 1.2;
  span {
    font-size: 80%;
    text-transform: none;
    font-family: arial;
    display: block;
    font-weight: 100;
    color: darken($primary-blue, 15%);
  }
}


.it-btn--sm {
  padding: 0.5em 2em;
}

.it-btn--lg {
    padding: 1.2em 4.2em;
}

.it-btn--link {
  background: 0;
  border: none;
  padding: 0;
  &:hover {
    background: none;
  }
}
