

/* mixin to write

border-mixin
type-mixin
size-mixin
hover transistions
*/


/* new vars */


.it-btn {
    border-radius: 5px;
    box-sizing: border-box;
    display: inline-block;
    font-family: "DINWeb-Bold",Arial,sans-serif;
    font-size: 16px;
    font-weight: 800;
    height: 46px;
    line-height: 38px;
    padding: 5px 12px;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out 0s;
    width: 162px;
  &:hover{
     transition: all 0.2s ease-in-out 0s;
  }
  
  &.btn-subscribe{
    background-color: $subscribe-yellow;
    border: 1px solid $subscribe-border;
    color: $grey-darkest;
    &:hover{
       background-color:$subscribe-hover;
    } 
  }
  
  &.btn-signin, &.btn-base{
    background-color: $primary-blue;
    border: 1px solid $primary-border;
    color: #FFF;
    &:hover{
       background-color:$primary-hover;
    } 
  }

  &.btn-base--alt {
    background-color: $primary-blue;
    border: 1px solid darken($primary-blue, 1%);
    color: #fff;

  }

  &.btn-utility {
    background-color: transparent;
    border: 2px solid $grey-dark;
    color: $grey-dark;
    &:hover{
       background-color:$grey-dark;
       color: #fff;

    } 
  }    
}

.it-btn-sm {
  font-size: 80%;
  padding: 2px 6px;

}

.it-btn-lg {
  font-size: 120%;
  padding: 7px 6px;

}

.btn--generic {
  background: #333333;
  color: #fff;
  border: 1px solid darken(#333333, 50%);
}