
// section colours
$news-color: #CC0000;
$sport-color: #3ea447;
$business-color: #1190af;
$opinion-color: #777552;
$lifestyle-color: #f60;
$culture-color: #b74f7d;
$more-color: #006666;

// subscribe colours
$subscribe-yellow: #FAD165;
$subscribe-border:#BB9C4B;
$subscribe-hover:#DFBA5A;

// default / base colours
$primary-blue: #3989CF;
$primary-border: #2E6FA9;
$primary-hover: #3071A9 ;

// greys
$grey-lightest:#E5E5E5;
$grey-lighter: #E2E2E2;
$grey-light: #CCC;
$grey-medium: #999;
$grey-darker: #888;
$grey-dark:#666;
$grey-darkest:#333;
$grey-nav-border:#AAA;
$grey-pushdown-bg:#DEDEDE;
$grey-pushdown-border:#BCBCBC;
$grey-story-divider: #c6c6c6;
$palegrey-bg:#f6f6f6;
$grey-body-text:#515151;


// others 

$rt-red: #b41710;

$colours: (
	'news'      : $news-color,
	'sport'     : $sport-color,
	'business'  : $business-color,
	'opinion'   : $opinion-color,
	'lifestyle' : $lifestyle-color,
	'culture'   : $culture-color,
	'more'      : $more-color
);

.it__style-container {
	display: flex;
	width: 100%;
	align-items: center;
  	justify-content: center;
}

.it__colour {

	flex-grow: 1;
	color:#fff;
	margin: 0.1%;
	text-align:center;
	min-width: 150px;
	line-height:100px;
	
@each $name, $color in $colours {

	.it__colour--#{$name} {
		background:$color;
		&:after {
			content: "#{$color}";
			color: #fff;
			font-family: $body-font;
			font-size: $body-font-size;
			
		}
	}
}


// Political Party colours

$ff: #40b34f;
$sf: #128566;
$fg: #2f3590;
$lp: #c72831;
$sd: #1dafec;
$sp: #ef5b2f;
$aaa: #c4568b;
$gp: #b4d144;
$ri: #168dcd;
$io: #231f20;

$ge-colours: (
	'ff'  : $ff,
	'fg'  : $fg,
	'sf'  : $sf,
	'lp'  : $lp,
	'sd'  : $sd,
	'sp'  : $sp,
	'gp'  : $gp,
	'ri'  : $ri,
	'io'  : $io,
	'aaa' : $aaa
);

<<<<<<< HEAD
.it__style-container {
	display: flex;
	width: 100%;
}

.it__colour {
	font-family: Helvetica;
	border: 2px solid $grey-light;
	margin: 0 auto;
	line-height: 2;
}

.it__colour__desc {
	color: #000;
	h3 {
		margin-bottom: 0;
	}
}

=======
>>>>>>> e315a7daa971f52141180c1f35a24bf35cd17924
@each $name, $color in $ge-colours {

	.ge__colour--#{$name} {
		background:$color;
		&:after {
		//	content: "#{$name}";
			content: "#{$color}";
			font-family: helvetica;
			
		}
<<<<<<< HEAD
		.hex-color {
			content: "#{$color}";
			font-family: helvetica;
		}
=======
}
>>>>>>> e315a7daa971f52141180c1f35a24bf35cd17924
	}
}
